process {
    withName: METAPHLAN_METAPHLAN {
        publishDir = [
            path: { "${params.outdir}/ReadTaxonomy/metaphlan/metaphlan" },
            mode: params.publish_dir_mode,
            pattern: '*_profile.txt'
        ]
        ext.args = params.metaphlan_options ? params.metaphlan_options : ""
    }
}
