params {
    // Pipeline options
    publish_dir_mode            = 'symlink'

    // Test data base paths
    test_data_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules'
    modules_testdata_base_path = 's3://ngi-igenomes/testdata/nf-core/modules/'
}

// Impose same minimum Nextflow version as the pipeline for testing
manifest {
    nextflowVersion = '!>=23.04.0'
}

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }

// Load test_data.config
includeConfig '../conf/test_data.config'
