process {
    withName: KNEADDATA_KNEADDATA {
        publishDir = [
            [
                path: { "${params.outdir}/ReadPreprocessing/kneaddata/kneaddata" },
                mode: params.publish_dir_mode,
                pattern: '*_kneaddata_paired_*.fastq.gz'
            ],
            [
                path: { "${params.outdir}/ReadPreprocessing/kneaddata/kneaddata" },
                mode: params.publish_dir_mode,
                pattern: '*_kneaddata.log'
            ]
        ]
        ext.args = params.kneaddata_options ? params.kneaddata_options : ""
    }
}
