includeConfig '../../../modules/nf-core/metaphlan/makedb/nextflow.config'
includeConfig '../../../modules/nf-core/metaphlan/metaphlan/nextflow.config'
includeConfig '../../../modules/local/metaphlan/sgbtogtdbprofile/nextflow.config'
includeConfig '../../../modules/nf-core/metaphlan/mergemetaphlantables/nextflow.config'
