params {
    // Base directory for test data
    test_data_base = "https://raw.githubusercontent.com/nf-core/test-datasets/modules"

    // TODO: Add all test data to test_data.config
    test_data {
        'assets'{
            'metaphlan' {
                metaphlan_sgb_profile1_txt  = "${projectDir}/assets/metaphlan/metaphlan_sgb_profile1.txt"
                metaphlan_sgb_profile2_txt  = "${projectDir}/assets/metaphlan/metaphlan_sgb_profile2.txt"
                metaphlan_sgb2gtdb_tsv      = "${projectDir}/assets/metaphlan/mpa_vJan21_TOY_CHOCOPhlAnSGB_20_SGB2GTDB.tsv"
            }
            'fastqs' {
                test_1_fastq_gz             = "${projectDir}/assets/fastqs/SRX5235702_SRR8427717_1.fastq.gz"
                test_2_fastq_gz             = "${projectDir}/assets/fastqs/SRX5235702_SRR8427717_2.fastq.gz"
            }
            'kneaddata' {
                kneaddata1_log              = "${projectDir}/assets/kneaddata/kneaddata1.log"
                kneaddata2_log              = "${projectDir}/assets/kneaddata/kneaddata2.log"
            }
        }
        'homo_sapiens' {
            'illumina' {
                test_1_fastq_gz             = "${params.test_data_base}/data/genomics/homo_sapiens/illumina/fastq/test_1.fastq.gz"
                test_2_fastq_gz             = "${params.test_data_base}/data/genomics/homo_sapiens/illumina/fastq/test_2.fastq.gz"
            }
        }
        'sarscov2' {
            'illumina' {
                test_1_fastq_gz             = "${params.test_data_base}/data/genomics/sarscov2/illumina/fastq/test_1.fastq.gz"
                test_2_fastq_gz             = "${params.test_data_base}/data/genomics/sarscov2/illumina/fastq/test_2.fastq.gz"
                test2_1_fastq_gz            = "${params.test_data_base}/data/genomics/sarscov2/illumina/fastq/test2_1.fastq.gz"
                test2_2_fastq_gz            = "${params.test_data_base}/data/genomics/sarscov2/illumina/fastq/test2_2.fastq.gz"
            }
        }
        'bacteroides_fragilis' {
            'illumina' {
                test1_1_fastq_gz            = "${params.test_data_base}/data/genomics/prokaryotes/bacteroides_fragilis/illumina/fastq/test1_1.fastq.gz"
                test1_2_fastq_gz            = "${params.test_data_base}/data/genomics/prokaryotes/bacteroides_fragilis/illumina/fastq/test1_2.fastq.gz"
                test2_1_fastq_gz            = "${params.test_data_base}/data/genomics/prokaryotes/bacteroides_fragilis/illumina/fastq/test2_1.fastq.gz"
                test2_2_fastq_gz            = "${params.test_data_base}/data/genomics/prokaryotes/bacteroides_fragilis/illumina/fastq/test2_2.fastq.gz"
            }
        }
    }
}
