params {
    // Base directory for test data
    test_data_base = "https://raw.githubusercontent.com/nf-core/test-datasets/modules"

    // TODO: Add all test data to test_data.config
    test_data {
        'homo_sapiens' {
            'illumina' {
                test_1_fastq_gz             = "${params.test_data_base}/data/genomics/homo_sapiens/illumina/fastq/test_1.fastq.gz"
                test_2_fastq_gz             = "${params.test_data_base}/data/genomics/homo_sapiens/illumina/fastq/test_2.fastq.gz"
            }
        }
        'sarscov2' {
            'illumina' {
                test_1_fastq_gz             = "${params.test_data_base}/data/genomics/sarscov2/illumina/fastq/test_1.fastq.gz"
                test_2_fastq_gz             = "${params.test_data_base}/data/genomics/sarscov2/illumina/fastq/test_2.fastq.gz"
            }
        }
        'bacteroides_fragilis' {
            'illumina' {
                test1_1_fastq_gz            = "${params.test_data_base}/data/genomics/prokaryotes/bacteroides_fragilis/illumina/fastq/test1_1.fastq.gz"
                test1_2_fastq_gz            = "${params.test_data_base}/data/genomics/prokaryotes/bacteroides_fragilis/illumina/fastq/test1_2.fastq.gz"
            }
        }
    }
}
