includeConfig '../../modules/nf-core/fastqc/nextflow.config'
includeConfig '../../modules/nf-core/cat/fastq/nextflow.config'
includeConfig '../../modules/nf-core/multiqc/nextflow.config'
includeConfig '../../subworkflows/local/fastq_read_preprocessing_kneaddata/nextflow.config'
includeConfig '../../subworkflows/local/fastq_read_taxonomy_metaphlan/nextflow.config'
